/bin
/obj
/PublishProfiles
bin
obj
Logs
dtbcache.v2
applicationhost.config
/v16
KockpitPortal.csproj.user
appsettings.json
KonnectInstallerMsi.msi
setup.exe
KonnectInstallerMsi.vdproj
KonnectInstallerSetup.wax
Product.wsx


/.vs
.vs
.vs
